{% extends 'base.html.twig' %}
{% block main %}
    <div class="form column-start">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path("new_meeting") }}" class="logo add adminadd">Ajouter un nouvel événement</a>
        {% endif %}
        
        {% set registered = false %}
        {% for event in events %}
            {% if app.user %}
                {% for inscription in inscriptions if inscription.user.id == app.user.id and inscription.meeting.id == event.id %}
                    {% set registered = true %}
                {% else %}
                    {% set registered = false %}
                {% endfor %}
            {% endif %}
                <div class="meeting-container column-start index hidden effect">
                    <div>
                        <div class="sumup row-between menudown-container">
                            <div class="infos-container row-around center">
                                <h2> {{ event.name }} </h2>
                                <p class="dateinfo"><b> prévu pour le : {{ event.date|date('d/m/y') }}</b></p>
                            </div>
                            <div class="plusinfo-container row-around center">
                                <div class="logo menudown plusinfos">Plus d'infos</div>
                            </div>
                        </div>
                    </div>
                    <div class="eventinfo column-start hidden">
                            <img src="{{ asset('img/' ~ event.img) }}" alt={{ event.name }} />
                        <div class="descriptionmeeting">
                            <span>{{ event.description }}</span>
                        </div>
                            {% if app.user and not registered %}
                                <a class="registermeeting" href="{{ path('inscription_meeting', {'meeting_id' : event.id }) }}">S'inscire à cette course!</a>
                            {% elseif registered %}
                                <span>Vous êtes incrits à cette course.</span>
                            {% else %}
                                <span>Envie d'y participer? </span>
                                <div class="margin"><a class="underline registermeeting" href="{{ path('register') }}">Inscrivez-vous</a> / <a class="registermeeting underline" href={{ path('login') }}>Connectez-vous !</a></div>
                            {% endif %}
                    </div>
                </div>
        {% endfor %}
    </div>
{% endblock %}
