{% extends 'base.html.twig' %}
{% block main %}
    <div class="form column-start">
        {% for event in events %}
                <div class="meeting-container column-start index hidden effect">
                    <div>
                        <div class="sumup row-between">
                            <div class="infos-container row-around center">
                                <h2> {{ event.name }} </h2>
                                <p class="dateinfo"><b> le  {{ event.date|date('d/m/y') }}</b></p>
                            </div>
                            <div class="plusinfo-container row-around center">
                                <div class="logo menudown plusinfos">Plus d'infos</div>
                            </div>
                        </div>
                    </div>
                    <div class="eventinfo column-start hidden">
                        <div>
                            <img src="{{ asset('img/'~ event.img ~'' ) }}" alt={{ event.name }} />
                        </div>
                        <div>
                            
                        </div>
                        <div class="descriptionmeeting">
                            <p>{{ event.description }}</p>
                        </div>
                        <div class="fullwidth">
                            <a class="registermeeting" href="">S'inscire à cette course!</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
{% endblock %}
