{% extends 'base.html.twig' %}
{% block main %}
    <div class="index">
    <h2 class='margin general'>Classement général de l'année 2017</h2>
    </div>
    <div class="classment-array column-start">
        <div class="row-start title-row">
            <span class="small array-column"><b>#</b></span>
            <span class="array-column"><b>Nom</b></span>
            <span class="array-column"><b>Prénom</b></span>
            <span class="array-column"><b>Catégorie</b></span>
            <span class="array-column"><b>Temps</b></span>
            <span class="array-column"><b>Points</b></span>
        </div>
        <div class="column-start">
            {% for general in generals%}
            <div class="row-start styletab">
                <span class="small array-column">{{ loop.index }}</span>
                <span class="array-column">{{ general.lastname }}</span>
                <span class="array-column">{{ general.firstname }}</span>
                <span class="array-column">{{ general.name }}</span>
                <span class="array-column">{{ general.ttime|number_format(2, 'min', 'sec') }} </span>
                <span class="array-column">{{ general.total }}</span>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="form column-start">  
        <div class="index">
            <h2 class="margin">Classement par courses de l'année 2017</h2>
        </div>
        {% for finished_meeting in finished_meetings %}
            <div class="meeting-container column-start index hidden effect">
                <div class="">
                    <div class="sumup row-between menudown-container">
                        <div class="infos-container row-around center">
                            <h2> {{ finished_meeting.name }} </h2>
                            <p class="dateinfo"><b> a eu lieu le {{ finished_meeting.date|date('d/m/y') }}</b></p>
                        </div>
                        <div class="plusinfo-container row-around center">
                            <div class="logo menudown plusinfos">Plus d'infos</div>
                        </div>
                    </div>
                </div>
                <div id="{{ finished_meeting.id }}" class="hidden classment-array column-start">
                    <div class="row-start title-row">
                        <span class="small array-column"><b>#</b></span>
                        <span class="array-column"><b>Nom</b></span>
                        <span class="array-column"><b>Prénom</b></span>
                        <span class="array-column"><b>Catégorie</b></span>
                        <span class="array-column"><b>Temps</b></span>
                        <span class="array-column"><b>Points</b></span>
                    </div>
                    <div class="column-start">
                        {% for result in results if result.meeting.id == finished_meeting.id %}
                        <div class="row-start styletab">
                            <span class="small array-column">{{ loop.index }}</span>
                            <span class="array-column">{{ result.user.lastname }}</span>
                            <span class="array-column">{{ result.user.firstname }}</span>
                            <span class="array-column">{{ result.user.category.name }}</span>
                            {% if is_granted('ROLE_ADMIN') %}
                                <input type="text" placeholder="{{result.time|number_format(2, 'min', 'sec')}}" class="timeedit array-column">
                                <input type="hidden" value="{{ result.user.id }}">
                            {% else %}
                                <span class="array-column">{{result.time|number_format(2, 'min', 'sec') }}</span>
                            {% endif %}
                            <span class="array-column">{{result.points}}</span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}