{% extends 'base.html.twig' %}
{% block main %}
    <div class="index">
    <h2 class='margin general'>Classement général de l'année 2017</h2>
    </div>
    <div class="row-start array margin margin-bottom ">
        <div class="small array-row column-start">
            <div class="title-row">
                <span><b>#</b></span>
            </div>
            <div class="center column-start">
                {% for general in generals %}
                    <span class="array-column styletab">{{ loop.index }}</span>
                {% endfor %}
            </div>
        </div>
        <div class=" array-row column-start">
            <div class="title-row">
                <span><b>Nom</b></span>
            </div>
            <div class="center column-start">
                {% for general in generals %}
                    <span class="array-column styletab">{{ general.lastname }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="array-row column-start">
            <div class="title-row">
                <span><b>Prénom</b></span>
            </div>
            <div class="center column-start">
                {% for general in generals %}
                    <span class="array-column styletab">{{ general.firstname }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="array-row column-start">
            <div class="title-row">
                <span><b>Catégorie</b></span>
            </div>
            <div class="center column-start">
                {% for general in generals %}
                    <span class="array-column styletab">{{ general.name }}</span>
                {% endfor %}
            </div>

        </div>
        <div class="array-row column-start">
            <div class="title-row">
                <span><b>Temps</b></span>
            </div>
            <div class="center column-start">
                {% for general in generals %}
                    <span class="array-column styletab">{{ general.ttime|number_format(2, 'min', 'sec') }} </span>
                {% endfor %}
            </div>
        </div>
        <div class="array-row column-start">
            <div class="title-row">
                <span><b>Points</b></span>
            </div>
            <div class="center column-start">
                {% for general in generals %}
                    <span class="array-column styletab">{{ general.total }}</span>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="form column-start">  
        <div class="index">
            <h2 class="margin">Classement par courses de l'année 2017</h2>
        </div>
        {% for finished_meeting in finished_meetings %}
            <div class="meeting-container column-start index hidden effect">
                <div class="">
                    <div class="sumup row-between menudown-container">
                        <div class="infos-container row-around center">
                            <h2> {{ finished_meeting.name }} </h2>
                            <p class="dateinfo"><b> a eu lieu le {{ finished_meeting.date|date('d/m/y') }}</b></p>
                        </div>
                        <div class="plusinfo-container row-around center">
                            <div class="logo menudown plusinfos">Plus d'infos</div>
                        </div>
                    </div>
                </div>
                <div id='{{finished_meeting.id}}' class="row-start array margin hidden">
                    <div class="small array-row column-start">
                        <div class="title-row">
                            <span><b>#</b></span>
                        </div>
                        <div class="center column-start">
                            {% for result in results if result.meeting.id == finished_meeting.id %}
                                    <span class="array-column styletab">{{ loop.index }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="array-row column-start">
                        <div class="title-row">
                            <span><b>Nom</b></span>
                        </div>
                        <div class="center column-start">
                            {% for result in results if result.meeting.id == finished_meeting.id %}
                                <span class="styletab array-column">{{ result.user.lastname }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="array-row column-start">
                        <div class="title-row">
                            <span><b>Prénom</b></span>
                        </div>
                        <div class="center column-start">
                             {% for result in results if result.meeting.id == finished_meeting.id %}
                                <span class="styletab array-column">{{ result.user.firstname }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="array-row column-start">
                        <div class="title-row">
                            <span><b>Catégorie</b></span>
                        </div>
                        <div class="center column-start">
                            {% for result in results if result.meeting.id == finished_meeting.id %}
                                <span id=category{{ result.user.id }} class="styletab array-column">{{ result.user.category.name }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="array-row column-start">
                        <div class="title-row">
                            <span><b>Temps</b></span>
                        </div>
                        <div class="center column-start">
                            {% for result in results if result.meeting.id == finished_meeting.id %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <input id="{{ result.user.id }}" placeholder="{{result.time|number_format(2, 'min', 'sec')}}" class="timeedit styletab fixinput array-column">
                                {% else %}
                                    <span class="styletab array-column">{{result.time|number_format(2, 'min', 'sec') }}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="array-row column-start">
                        <div class="title-row">
                            <span><b>Points</b></span>
                        </div>
                        <div class="center column-start">
                            {% for result in results if result.meeting.id == finished_meeting.id %}
                                <span id=points{{result.user.id}} class="styletab array-column">{{result.points}}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}